# Local Example: http://localhost:8080
# Production Example: http://168.144.20.42:8080
FRONTEND_URL=http://localhost:8080
MONGO_URI=mongodb://admin:your_secure_password_here@mongo:27017/deploystack?authSource=admin
